body {
  font-family: 'Poppins', sans-serif;
}

#header {
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#hero {
  height: 100vh;
  background: url('../img/hero-bg.jpg') center/cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
